<div class="nav">
    <ul class="nav_menu">
        <li class="nav_menu-item"><a href="/sutra/xj" target="_self">心经</a></li>
        <li class="nav_menu-item"><a href="/sutra/jgj" target="_self">金刚经</a></li>
        <li class="nav_menu-item"><a href="/sutra/lztj" target="_self">六祖坛经</a></li>
        <li class="nav_menu-item"><a href="/sutra/ssezj" target="_self">四十二章经</a></li>
        <li class="nav_menu-item"><a href="/sutra/yjj" target="_self">圆觉经</a></li>
        <li class="nav_menu-item"><a>无量寿经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/wlsj1" target="_self">佛说无量寿经卷上</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/wlsj2" target="_self">佛说无量寿经卷下</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>维摩诘经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/wmjj1" target="_self">维摩诘所说经卷上</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/wmjj2" target="_self">维摩诘所说经卷中</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/wmjj3" target="_self">维摩诘所说经卷下</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>解深密经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/jsmj1" target="_self">解深密经卷一~卷二</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jsmj2" target="_self">解深密经卷三~卷四</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jsmj3" target="_self">解深密经卷五</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>楞伽经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/lqj1" target="_self">楞伽经卷一</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lqj2" target="_self">楞伽经卷二</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lqj3" target="_self">楞伽经卷三</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lqj4" target="_self">楞伽经卷四</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>金光明经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/jgmj1" target="_self">金光明经卷一~卷二</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jgmj2" target="_self">金光明经卷三~卷四</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jgmj3" target="_self">金光明经卷五~卷六</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jgmj4" target="_self">金光明经卷七~卷八</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/jgmj5" target="_self">金光明经卷九~卷十</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>楞严经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/lyj1" target="_self">楞严经卷一~卷二</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lyj2" target="_self">楞严经卷三~卷四</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lyj3" target="_self">楞严经卷五~卷六</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lyj4" target="_self">楞严经卷七~卷八</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/lyj5" target="_self">楞严经卷九~卷十</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>妙法莲华经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/fhj1" target="_self">妙法莲华经卷一</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj2" target="_self">妙法莲华经卷二</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj3" target="_self">妙法莲华经卷三</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj4" target="_self">妙法莲华经卷四</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj5" target="_self">妙法莲华经卷五</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj6" target="_self">妙法莲华经卷六</a></li>
                <li class="nav_submenu-item"> <a href="/sutra/fhj7" target="_self">妙法莲华经卷七</a></li>
            </ul>
        </li>
        <li class="nav_menu-item"><a>华严经</a>
            <ul class="nav_submenu">
                <li class="nav_submenu-item"> <a href="/sutra/hyj" target="_self">普贤菩萨行愿品</a></li>
            </ul>
        </li>
    </ul>
</div>